{{!-- src/ui/components/comics-library/template.hbs --}}
<h1>Comic books library</h1>
<div class="comics">
<h2>Comic lists</h2>
    <ul class="comics-list"></ul>
  {{#each comics key="@index" as |comic|}}
      <li class="comic-item">
          <a href="#">{{comic.title}} by {{comic.scriptwriter}}</a>
          <button class="delete-comic-item" onclick={{action deleteComic comic}}>Delete</button>
      </li>
  {{else}}
    Sorry,no comic found !
  {{/each}}

</div>

